<div>

  <h4 class="mb-4 text-muted">Cursos Publicados </h4>
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
  
    <div class="card-body">
      <h4 class="card-title">Uso de GitHub</h4>
      <p class="card-text">Lugar: UPeU</p>
      <p class="card-text">Hora: 5:00pm</p>
      <p class="card-text">Costo: $120</p>
    </div>
  </div>
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
  
    <div class="card-body">
      <h4 class="card-title">Uso de GitHub</h4>
      <p class="card-text">Lugar: UPeU</p>
      <p class="card-text">Hora: 5:00pm</p>
      <p class="card-text">Costo: $120</p>
    </div>
  </div>
  
</div>